# Environments
.venv

# Byte-compiled files
__pycache__/
*.py[cod]

# Web
node_modules/
dist/
.cache/
test/
yarn.lock
# Log
log/

# Jupyter notebook
*.ipynb*

# Develop toy or data
*.pkl
*.toy
*.csv
*.xlsx
*.log

tmp/
download/
dataset/
